@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');


.newsletter {
    font-family: 'Inter', sans-serif;
    width: 100%;
    height: 100%;
    background: #0068FF;
    border-radius: 16px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 1400px) {
       
      flex-direction: column;
    }

    &__image {
        position: relative;
        left: 60px;

        @media (max-width: 1400px) {
          display: none;
        }
    }
    &__content{
        display: flex;
        align-items: center;
        width: 100%;
    }

    &__text{
        position: relative;
        left: 50px;
        color: white;
        width: 57%;

        @media (max-width: 1400px) {
          margin-top: 20px;
          width: 100%;
          max-width: 500px;
          left: 0;
          padding: 0 50px;
        }        
        @media (max-width: 500px) {
          margin-top: 20px;
          width: 100%;
          max-width: 500px;
          left: 0;
          padding: 0 30px;
        }  

        &__title{
            font-size: 24px;
            font-weight: 800;
            line-height: 35px;
            margin: 0px !important;

        }

        &__subtitle{
            font-size: 13px;
            font-weight:500;
            line-height: 18px;
            margin: 0px !important;


        }

    }
}
.searchBoxContainer{
    max-width: 340px;
    width: 100%;
    position: relative;
    right: 100px;

    @media (max-width: 1400px) {
      margin: 20px 0;
      max-width: none;
      right: 0;
      padding: 0 0 0 100px;
    }

    @media (max-width: 500px) {
      margin: 20px 0;
      max-width: none;
      right: 0;
      padding: 0 0 0 50px;
    }

}
.searchBox {
    display: flex;
    align-items: center;
    background: #fff;
    justify-content: space-between;
    border: 1px solid #e5e5e5;
    border-radius: 50px;
    overflow: hidden;
    padding:4px 2px 4px 10px;
    max-width: 340px;
    width: 100%;

    @media (max-width: 600px) {
      padding: 4px 6px 4px 10px;
      max-width: 240px;
    }
  }
  
  .searchBox input {
    border: none;
    outline: none;
    padding:4px 10px;
    border-radius: 50px;
    font-size: 14px;
    max-width: 340px;

  }
  
  .searchButton {
    background: #292929;
    border: none;
    border-radius: 50%;
    color: white;
    padding: 3px;
    margin-left: 2px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .checkboxLabel {
    display: flex;
    align-items: center;
    padding: 10px 0;
    margin-top: 4px;
    font-size: 14px;
    color: #FFFFFF;
    cursor: pointer;
  }
  
  .checkboxInput {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    margin-right: 8px;
    min-width: 17px;
    height: 17px;

    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
}
.checkboxInput:checked::after {
    content: '';
    position: absolute;
    width: 4px;
    height: 8px;
    left: 9px;
    bottom: 17px;
    border: solid black;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
  
  .checkboxText {
    line-height: 1.4;
    display: flex; 
    align-items: center;
    gap: 3px;
    height: fit-content;
    flex-wrap: wrap;
    padding: 0 10px 0 0;

    &__brbottom{
      border-bottom: 1px solid white;
      height: fit-content;
      margin: 0px;
      line-height: 1;
    }
  }
  
  .errorMessage {
    display: flex;
    position: relative;
    left: 40px;
    bottom: 10px;
    color: #C82020;
    font-size: 13px;
    margin-bottom: 4px;
    font-size: 12px;
    align-items: center;
    gap: 5px;
    background: #FFECEC;
    padding: 5px 10px;
    width: fit-content;
    border-radius: 4px;

    &__text{
        margin: 0px;
    }
  }
