@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

.home {
    padding: 0px 12%;
    font-family: 'Inter', sans-serif;

    &__categories{
        display: flex;
        flex-direction: column;
        gap: 90px;
    }
}