@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

.option-content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.optionText {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    font-family: 'Inter', sans-serif;
}

.optionText__tabs {
    display: flex;
    gap: 10px;
    color: #292929;
    font-family: 'Inter', sans-serif;
    align-items: center;
}

.optionText__tab {
    cursor: pointer;
    padding-bottom: 5px;
    color: #292929;
}



.slick-prev{
    left: 25px;
    z-index: 10;
    top: 45%;

}

.slick-next{
    right: 25px;
    z-index: 10;
    top: 45%;

}

.slick-prev, .slick-next {
    width: 30px;
}


.slick-prev:before, .slick-next:before {
    color: white;
    background-color: rgba(255, 255, 255, 0.376);
    font-size: 28px;
    padding: 0px 3px;
    width: 36px;
    height: 36px;
    border: 1px solid white;
    border-radius: 50%;
    font-family: 'Inter', sans-serif;
}

.optionText__tab.active {
    color: #0068FF;
}

.optionText__divider {
    color: #292929;
    font-size: 14px;
    margin-bottom: 3px;

}

.optionText-button{
    font-family: 'Inter', sans-serif;
    margin-top: 20px;
    color: #292929;
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
}

.contentSlider {
    overflow: hidden;
    transform: none;
}

.itemSlider__item {
    position: relative;
    padding: 10px;
}

.itemSlider__item img {
    width: 100%;
    display: block;
    border-radius: 16px;
    height: 100%;
}

.itemSlider__info {
    margin-top: 8px;
}

.itemSlider__name {
    font-weight: 600;
    font-size: 14px;
}

.itemSlider__price {
    color: #1890ff;
    font-weight: 700;
    margin-top: 4px;
}

.itemSlider__subtitle {
    font-size: 12px;
    color: #666;
    margin-top: 2px;
}

.slick-track {
    display: flex;
    gap: 18px;
    height: 100%;
    margin-left: -10px;
}

.slick__tags {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #ff4d4f;
    color: white;
    padding: 5px 20px;
    font-weight: bold;
    border-radius: 4px;
    z-index: 2;
    font-size: 12px;
    text-transform: uppercase;
}

.slider .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider .slick-dots li {
    list-style: none !important;
}

.slick-dots li button::before {
    color: black;
    opacity: 1;
}

.slick-dots li.slick-active button:before {
    color: #0068FF;
    border: 1px solid #0068FF;
    border-radius: 50%;
}
