.shoppingBag {
    position: relative;

    &__button {
        background: none;
        border: none;
        cursor: pointer;
        font-size: 18px;
    }

    &__sidebar {
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        background-color: #fff;
        box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
        padding: 24px;
        display: flex;
        flex-direction: column;
        z-index: 1000;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 1.25rem;

    button {
        background: none;
        cursor: pointer;
    }

    span {
        font-weight: normal;
        font-size: 1rem;
        color: #555;
    }

    &__fix{
        border: 1px solid black !important;
        padding: 1px !important;
    }
}

.items {
    flex: 1;
    overflow-y: auto;
    margin-top: 16px;
}

.item {
    display: flex;
    align-items:flex-start;
    margin-bottom: 16px;
    padding-top: 16px;
    border-top: 1px solid #E3E3E3;
    justify-content: space-between;

    img {
        width: 100px;
        height: 120px;
        object-fit: cover;
        border-radius: 6px;
    }

    &__box{
        display: flex;
        align-items: center;
        gap: 12px;

    }

    &__info {
        flex: 1;

        p {
            margin: 0;
            font-size: 0.95rem;
        }

        small {
            color: #666;
        }
    }

    .remove {
        background: none;
        border: none;
        cursor: pointer;
    }
}

.footer {
    position: relative;
    bottom: 50px;

    .shipping {
        font-size: 0.9rem;
        margin-bottom: 12px;

        .progress {
            background: #eee;
            height: 6px;
            border-radius: 3px;
            overflow: hidden;
            margin-top: 6px;

            &__bar {
                height: 100%;
                background: #007bff;
            }
        }
    }

    .total {
        display: flex;
        justify-content: space-between;
        margin-bottom: 16px;
        font-size: 1.1rem;
    }

    .checkout {
        width: 100%;
        padding: 12px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        font-size: 1rem;

        &:hover {
            background-color: #0056b3;
        }
    }
}